/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
| @namespace: prd-
|
*/
@import "../../../styles/app";

.prd-Card {
  flex-direction: column;
  display: flex;
}

.prd-Card_Title {
  @include Font_20-24;

  margin-bottom: 8px;
  font-weight: 400;
}

.prd-Card_Price {
  font-size: 18px;
  font-family: Helvetica, 'sans-serif';
  font-weight: 600;
}

.prd-Card_Footer {
  margin-top: auto;
  border-top: 32px solid transparent;
}
